body {
    background-color: rgb(150, 150, 150)
  }

a{
   text-decoration: none;
  }
li{
  padding-bottom: 5px;
  width: 80px;
 }

div{
  margin-left: 20px;
  text-decoration: none;
  width:250px
}
h1,h2{
  text-decoration: underline;
}